<!DOCTYPE html>
<html>
    <head>
        <title>404 Page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/500page.css') }}">
    </head>
    <body>
        <div id="main">
            <div class="fof">
                    <h1>Error 500 - Unexpected error</h1>
                    <h2>Yikes how did you get here? If you thought you were going to end up somewhere useful you should probably let EB/Miles know, some shit is broke.</h2>
            </div>
        </div>
    </body>
</html>